.activite {
    transition: all 0.3s ease;
    .page__content {
        display: flex;
        align-items: flex-end;
        text-align: end;
        a {
            justify-content: flex-end;
            .icon {
                rotate: 180deg;
            }
        }
    }
    .swiper-pagination {
        display: flex;
        justify-content: flex-end;
    }
}
