/* ==========================================================================
   button / component
   ========================================================================== */

.button {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 10px 20px;
    border-radius: 50px;
    position: relative;
    transition: transform 0.4s;

    &:hover {
        color: var(--color-primary);
        background-color: var(--color-white);
        text-decoration: none;
    }

    &.is-active {
        color: var(--color-white);
        background: var(--color-black);
        border-color: var(--color-black);
    }

    @media screen and (max-width: $breakpoint-sm) {
        padding: 10px 20px;
        font-size: typo(20px);
    }
}
