.chambres {
    transition: all 0.3s ease;
    height: 800px;
    position: relative;
    overflow: hidden;
    .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
            to bottom,
            var(--color-black),
            transparent,
            transparent
        );
        opacity: 0.6;
        z-index: 2;
    }
    .swiper-wrapper {
        max-height: 800px;
        gap: 0;
        img {
            height: 800px;
            width: 100%;
            object-fit: cover;
        }
    }
    .swiper-pagination {
        display: flex;
        padding: 40px 80px;
        gap: 35px;
        z-index: 3;
        @media (max-width: $breakpoint-sm) {
            gap: 5px;
        }
        .swiper-pagination-bullet {
            width: 100px;
            border-radius: 20px;
            background-color: var(--color-white);
            opacity: 1;
        }
        .swiper-pagination-bullet-active {
            background-color: var(--color-black);
        }
    }
    .page__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        padding: 100px 80px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .chambre__info {
            max-width: 500px;
            background-color: rgba($color: #2d2d2d, $alpha: 0.5);
            backdrop-filter: blur(10px);
            padding: 20px 40px;
            border-radius: 50px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            hr {
                width: 100%;
            }
            a {
                display: flex;
                align-items: center;
                gap: 10px;
                transition: all ease-out 0.2s;
                &:hover {
                    gap: 20px;
                    font-weight: bold;
                }
            }
        }
        @media (max-width: $breakpoint-sm) {
            padding: 50px 20px;
            .chambre__info {
                margin-bottom: 40px;
            }
        }
    }
}
