.formulaire {
    transition: all 0.3s ease;
    display: block;
    background-color: var(--color-black);
    padding: 100px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
        .checkbox {
            .input__element {
                max-width: 100px;
            }
        }
    }
}

.input {
    p {
        opacity: 0;
    }
}

.error {
    p {
        opacity: 1;
        color: var(--color-primary);
    }
}
.form {
    --input-radius: 3px;
    --input-padding: 1em;
    fieldset {
        border: none;
        padding: 0;
    }

    .grid {
        display: grid;
        gap: var(--spacing-md);
        grid-template-columns: 1fr;
        grid-template-columns: repeat(1, 1fr);
        @media screen and (min-width: $breakpoint-sm) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.form__footer {
    display: flex;
    justify-content: flex-end;
    .button {
        font-family: var(--font-primary);
        border: none;
    }
}
.form__body {
    .is-sent & {
        display: none;
    }
}
.form__confirmation {
    display: none;
    .is-sent & {
        display: block;
    }
}

.input__label {
    display: block;
    font-family: var(--font-primary);
    font-weight: 600;
}
.input__element {
    border-radius: var(--input-radius);
    background-color: var(--color-white);
    border: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: var(--input-padding);
    width: 100%;

    &:hover,
    + .input__label:hover::before {
        background-color: gray;
        -webkit-box-shadow: inset 0 0 0 30px gray !important;
        color: var(--color-white);
    }

    &::placeholder {
        color: var(--color-black);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:active {
        -webkit-box-shadow: inset 0 0 0 30px var(--color-white) !important;
        -webkit-text-fill-color: inherit !important;
    }

    &:focus,
    &:-webkit-autofill:focus,
    &:focus + .input__label::before {
        background-color: var(--color-primary);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: inset 0 0 0 30px var(--color-primary) !important;
    }
}

/*
   
   ========================================================================== */

.select {
    position: relative;
    .input__element {
        appearance: none;
        padding-right: var(--spacing-md);

        &:invalid {
            color: var(--color-black);
        }
    }
    option {
        background-color: var(--color-white);
    }
    &::after {
        --size: 12px;
        content: '';
        background: url('../assets/icons/fleche.svg') no-repeat 50% 50%;
        background-size: 100%;
        background-color: var(--color-black);
        height: var(--size);
        position: absolute;
        pointer-events: none;
        top: 40%;
        transform: translateY(50%);
        right: var(--input-padding);
        width: var(--size);
    }
}

/*
   
   ========================================================================== */

.textarea {
    .input__element {
        resize: vertical;
        height: 150px;
    }
    @media screen and (min-width: $breakpoint-sm) {
        grid-column: span 2;
    }
}

/*
   
   ========================================================================== */

.checkbox,
.radio {
    ----active-scale: 1;
    .input__element {
        opacity: 0;
        position: absolute;
        z-index: -1;
    }

    .input__label {
        --size: 22px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        padding-left: calc(var(--size) + var(--spacing-md));
        &::after,
        &::before {
            content: '';
            height: var(--size);
            width: var(--size);
            position: absolute;
            left: 0;
            top: 0;
        }

        &::before {
            background-color: var(--color-white);
            border-radius: var(--input-radius);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
        }

        &::after {
            opacity: 0;
            transform: scale(0);
            transition: all 0.2s ease-in;
        }
    }

    .input__element:checked + .input__label {
        &::after {
            opacity: 1;
            transform: scale(var(--active-scale));
        }
    }
}

.checkbox {
    .input__label::after {
        background: url('../assets/icons/Etoile.svg') no-repeat 50% 50%;
        background-color: var(--color-primary);
        background-size: 50%;
    }
}

.radio {
    .input__label {
        &::before {
            border-radius: 100%;
        }
        &::after {
            --active-scale: 0.4;
            background-color: var(--color-black);
            border-radius: 100%;
        }
    }
}

/*
   
   ========================================================================== */

.error {
    .input__element,
    &.check .input__label::before,
    &.radio .input__label::before,
    .check .input__label::before,
    .radio .input__label::before {
        box-shadow: inset 0 0 0 5px var(--color-primary);
    }

    .input__label {
        color: var(--color-primary);
    }
}

.question {
    margin-top: 50px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    .form__list {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }
    .input__element {
        max-width: 80px;
    }
}
