.header {
    background-color: var(--color-black);
    padding: 20px 0;
    position: sticky;
    top: 0px;
    z-index: 5;
    transition: transform 0.4s ease-out;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .header-is-hidden.is-scrolling-down:not(.nav-is-active) & {
        transform: translateY(-100%) translateY(4px);
    }
    .wrapper {
        display: flex;

        justify-content: space-between;
        align-items: center;
        .logo {
            z-index: 6;
            display: flex;
            align-items: center;
            gap: 10px;
            .icon {
                color: var(--color-white);
            }
        }
        .reste {
            display: flex;
            gap: 20px;
            .button {
                z-index: 3;
            }
            .header__toggle {
                --bar-height: 3px;
                --bar-spacer: 15px;

                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 0;
                position: relative;
                width: 50px;
                height: 50px;
                z-index: 10;

                span {
                    background-color: var(--color-white);
                    border-radius: 3px;
                    height: var(--bar-height);
                    width: 100%;
                    position: absolute;
                    top: calc(50% - var(--bar-height) / 2);
                    left: 0;
                    transition: 0.3s all ease-out;
                    &:nth-child(1) {
                        top: calc(
                            50% - var(--bar-height) /
                                2 - var(--bar-height) - var(--bar-spacer)
                        );
                    }

                    &:nth-child(3) {
                        top: calc(
                            50% - var(--bar-height) / 2 + var(--bar-height) +
                                var(--bar-spacer)
                        );
                    }
                }

                .nav-is-active & {
                    span {
                        top: calc(50% - var(--bar-height) / 2);
                        &:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        &:nth-child(2) {
                            transform: scaleX(0);
                        }
                        &:nth-child(3) {
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
    @media (max-width: $breakpoint-md) {
        .button {
            display: none;
        }
    }
}
