.hero {
    position: relative;
    height: 700px;
    .hero_media {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .hero_content {
        color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            z-index: 2;
        }
    }
}
.hero__chambre {
    .hero_content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 50px 80px;
        h1 {
            z-index: 2;
            border-bottom: 2px solid white;
            width: 100%;
        }
        h3 {
            z-index: 2;
        }
    }
}
