.hero {
    position: relative;
    height: 700px;
    .hero__media {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .hero__content {
        color: white;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            z-index: 2;
        }
    }
    @media (max-width: $breakpoint-md) {
        max-height: 400px;
        text-align: center;
    }
}
.hero__chambre {
    .hero__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 50px 80px;
        h1 {
            z-index: 2;
            border-bottom: 2px solid white;
            width: 100%;
        }
        h3 {
            z-index: 2;
        }
    }
    @media (max-width: $breakpoint-md) {
        .hero__content {
            padding: 50px 20px;
            h3 {
                display: none;
            }
            h1 {
                border-bottom-width: 0;
            }
        }
    }
}
