.emplacement {
    margin: 100px 0;
    @media (max-width: $breakpoint-mlg) {
        margin: 50px 0;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (max-width: $breakpoint-mlg) {
            flex-direction: column-reverse;
            align-items: center;
            gap: 50px;
        }
        .emplacement__media {
            width: auto;
            img {
                object-fit: cover;
            }
        }
        .emplacement__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 50px;
            max-width: 630px;
            color: var(--color-black);

            a {
                color: var(--color-black);
                display: flex;
                align-items: center;
                gap: 10px;
                transition: all ease-out 0.2s;
                &:hover {
                    gap: 20px;
                    font-weight: bold;
                }
                .icon {
                    color: var(--color-black);
                }
            }
            h1 {
                text-align: center;
                color: var(--color-black);
            }
            p {
                text-align: center;
                font-weight: 500;
            }
        }
    }
}
