.youtube {
    padding: 100px 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;

        h1 {
            color: var(--color-black);
            @media (max-width: $breakpoint-sm) {
                display: flex;
                justify-content: center;
                text-align: center;
            }
        }
        .videos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            @media (max-width: $breakpoint-lg) {
                grid-template-columns: 1fr;
                grid-template-rows: 1fr 1fr;
            }

            .video {
                display: flex;
                align-items: center;
                justify-content: center;
                @media (max-width: $breakpoint-sm) {
                    max-height: 100vw;
                }
                .js-poster {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
                .icon-placement {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 3;
                    width: 100%;
                    height: 100%;

                    .border-icon {
                        background-color: var(--color-black);
                        padding: 50px;
                        border-radius: 100%;
                        .icon {
                            color: transparent;
                            border: black;

                            width: 50px;
                        }
                    }
                }
            }
        }
    }
}

body {
    overflow-x: hidden;
}
