/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: normal;
}

h1 {
    color: var(--color-white);
    font-size: var(--font-size-h1);
    margin: 0;
    display: flex;
    align-items: baseline;
    text-transform: uppercase;
    @media (max-width: $breakpoint-sm) {
        font-size: var(--font-size-h1-mobile);
    }

    span {
        color: var(--color-bg-primary);
    }
}

h2 {
    font-size: var(--font-size-h2);
    margin: 0;
    text-transform: uppercase;
    @media (max-width: $breakpoint-sm) {
        font-size: var(--font-size-h2-mobile);
    }
}

h3 {
    font-size: var(--font-size-h3);
    text-transform: uppercase;
    @media (max-width: $breakpoint-sm) {
        font-size: var(--font-size-h3-mobile);
    }
}

h3.bold {
    font-weight: 600;
}

h4 {
    font-size: var(--font-size-h4);
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    @media (max-width: $breakpoint-sm) {
        font-size: var(--font-size-h4-mobile);
    }
}

p {
    font-size: var(--font-size-p);
    margin: 0;
    @media (max-width: $breakpoint-sm) {
        font-size: var(--font-size-p-mobile);
    }
}

.bouton-formulaire p {
    font-size: 10px;
}

.bouton-formulaire h4 {
    font-size: 20px;
}
