/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    &:link {
        color: var(--color-white);
        text-decoration: none;
        font-size: var(--font-size-h3);
    }

    &:visited {
        color: var(--color-white);
    }

    &:hover {
        color: var(--color-white);
        text-decoration: none;
    }

    &:active {
        color: var(--color-white);
    }

    &:focus {
        color: var(--color-white);
    }
}
