/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: calc(100% - 160px);
    margin: 0 auto;
    @media (max-width: $breakpoint-sm) {
        max-width: calc(100% - 40px);
    }
}

// Utilisation du css Layout Grid pour faire le wrapper
.grid-wrapper {
    display: grid;
    grid-template-columns: auto minmax($breakpoint-xs, $breakpoint-md) auto;
    grid-column-gap: 30px;
}

.grid-center {
    grid-column: 2/3;
}
