/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
  // Couleur de base
  --color-white: #fdfdfd;
  --color-black: #161616;

  // Couleurs du projet
  --color-secondary: #d76947;
  --color-primary: #e04a00;

  --color-bg-primary: #fdfdfd;
}
