/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
  --font-primary: "Barlow", sans-serif;

  --font-size-content: 1rem;

  /// Grosseur des textes
  --font-size-h1: 74px;
  --font-size-h2: 40px;
  --font-size-h3: 20px;
  --font-size-h4: 15px;
  --font-size-p: 16px;
}
