{% include "_partials/_header.html" with { titre: 'Chambre' }%}
<section class="hero hero__chambre">
    <div class="hero_media">
        <img src="assets/images/Hero1.jpg" alt="Image 1" />
    </div>
    <div class="hero_content">
        <h1>CHAMBRE</h1>
        <h3 class="bold">Des chambres d’hôtel uniques pour des séjours longs ou courts à Montréal.</h3>
    </div>
</section>

<section class="chambre">
    <div class="wrapper">
        <div class="page_media" data-component="Carousel">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="assets/images/NosChambres1.jpg" alt="" /></div>
                <div class="swiper-slide"><img src="assets/images/NosChambres2.jpg" alt="" /></div>
                <div class="swiper-slide"><img src="assets/images/NosChambres3.jpg" alt="" /></div>
            </div>
        </div>
        <div class="chambre__content">
            <div class="info__chambre">
                <h1>
                    STUDIO
                    <br />
                    QUEEN
                    <br />
                    BALCONY
                </h1>
                <nav>
                    <ul>
                        <li>
                            <svg class="icon icon--lg">
                                <use href="#icon-Personnes"></use>
                            </svg>
                            <h3 class="bold">2 personnes</h3>
                        </li>
                        <li>
                            <svg class="icon icon--lg">
                                <use href="#icon-Lit"></use>
                            </svg>
                            <h3 class="bold">Lit king</h3>
                        </li>
                        <li>
                            <svg class="icon icon--lg">
                                <use href="#icon-Mesure"></use>
                            </svg>
                            <h3 class="bold">24m carré</h3>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="button">réserver</a>
            </div>
            <div class="inclus">
                <h2>Inclus</h2>
                <nav>
                    <ul>
                        <li>Cuisine complète avec plaque de cuisson, four encastré, four micro-ondes, réfrigérateur, congélateur, lave-vaisselle</li>
                        <li>Ustensiles, vaisselle et plats de cuisson</li>
                        <li>Salle de bain avec douche en verre</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="formulaire">
    <div class="wrapper">
        <div class="section__header">
            <h1>
                Des
                <br />
                questions ?
            </h1>
            <h3>Contactez-nous dès maintenant et nous vous recontacterions très bientôt !</h3>
        </div>

        <form action="" class="form" autocomplete="off" data-component="Form">
            <div class="form__body">
                <fieldset class="grid">
                    <div class="input">
                        <label class="input__label" for="fullname">Votre nom</label>
                        <input class="input__element" type="text" name="fullname" id="fullname" placeholder="ex.: Super-Man" required />
                        <p>Une erreur est survenue, veuillez écrire une information valide</p>
                    </div>
                    <div class="input">
                        <label class="input__label" for="email">Courriel</label>
                        <input class="input__element" type="email" name="email" id="email" placeholder="mathian@gmail.com" required />
                        <p>Une erreur est survenue, veuillez écrire une information valide</p>
                    </div>
                    <div class="input u-grid-fullwidth">
                        <label class="input__label" for="phone">Téléphone</label>
                        <input class="input__element" type="tel" name="phone" id="phone" placeholder="438-899-0987" required />
                        <p>Une erreur est survenue, veuillez écrire une information valide</p>
                    </div>
                    <div class="input select">
                        <label class="input__label" for="province">Province</label>
                        <select name="province" id="province" class="input__element" required>
                            <option value="" hidden>Choisir une province</option>
                            <option value="qc">Québec</option>
                            <option value="on">Ontario</option>
                            <option value="al">Alberta</option>
                            <option value="jm">La ville secrete de jean-michel</option>
                        </select>
                        <p>Une erreur est survenue, veuillez écrire une information valide</p>
                    </div>
                    <div class="input textarea u-grid-fullwidth">
                        <div class="input">
                            <label class="input__label" for="comment">Commentaire</label>
                            <textarea name="comment" id="comment" class="input__element" required></textarea>
                            <p>Une erreur est survenue, veuillez écrire une information valide</p>
                        </div>
                    </div>
                    <div class="input checkbox">
                        <input class="input__element" type="checkbox" name="optin[]" id="optin" placeholder="438-899-0987" value="true" />
                        <label class="input__label" for="optin">Je veux être informé</label>
                    </div>
                </fieldset>
                <footer class="form__footer">
                    <button class="button">Contactez-nous</button>
                </footer>
            </div>

            <div class="form__confirmation">
                <h2>Merci</h2>
                <p>Votre formulaire à été envoyé</p>
            </div>
        </form>
    </div>
</section>

{% include "_partials/_footer.html"%}
